body{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', 'Poppins', sans-serif, 'Noto Sans';
    background-color: #fff;
    padding-bottom: 500px;
    scroll-behavior: smooth;
    box-sizing: border-box;
	position: relative;
}
html{
    scroll-behavior: smooth;
}

.nav{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: #000000;
	position: sticky;
}

ul li{
    display: inline;

}

a{
	text-decoration:none;
}

}
.nav_item{
	color: #fff;
}

.nav_menu ul li a{ 
    margin-right: 50px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
    text-shadow: #36393F;
    text-shadow: 1px 1px 1px black;
	border-bottom: none;
	font-size: 18px;
	font-family: 'Bebas Neue';
    
}

.nav_menu ul li a:hover{
    transition: 0.5s;
    cursor: pointer;
    border-bottom: 1.5px solid #36393F;
}


.img-header{
	height: 38em;
	width: 50em;
	background-image: contain;
	margin-bottom: 50px;
	background-repeat: no-repeat;
	background-size: 1200px 700px;
	margin-right: -45px;
	margin-left: -45px;

	
}
.img-header::before{
    background: rgba(0, 0, 0, 0.4);
    content: "";
    height: 580px;
    left: 0;
    position: absolute;
    top: 10;
    width: 100%;
}

.titulo{
    position:absolute;
    text-align:left;
	color:#fff;
	top: 100px;
	width: 250px;
	line-height: 30px;
	height: 30px;
	color: #fff;
	height: 30px;
    margin-left: 200px;
}

.titulo h2{
	line-height: 30px;
	font-size: 50px;
	letter-spacing: 1px;
	line-height: 60px;
	margin-top: 200px;
    margin-bottom: -30px;
    text-shadow: 1px 1px 1px black;
}

.titulo h1{
	line-height: 30px;
	font-size: 30px;
	letter-spacing: 1px;
	line-height: 60px;
    font-family: 'Poppins';
    width: 400px;
    justify-content: center;
    text-shadow: 1px 1px 1px black;
    
}

.lista-cuidados li{
    margin-bottom: 10px;
    display: block;
    font-family: 'Noto Sans';
}

#postagem{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}


.titulo-postagem{
    text-align: center;
    font-size: 18px;
}

.titulo-postagem h2::after{
    content: '';
    width:140px;
    height: 3px;
    background-color: #600000;
    display:block;
    margin: 5px auto;
    border-radius: 10px;
    transition: width 0.5s;
}
.titulo-postagem h2:hover::after{
    content: '';
    width:250px;
    height: 3px;
    background-color: #600000;
    border-radius: 4px;
    display:block;
    margin: 5px auto;
}

.postagem p{
    font-family: 'Noto Sans';
    width: 100%;
    margin-left: 40px;
    font-weight: bold;
}

.lista-cuidados .material-icons{
    font-size: 10px;
    color: #600000;
    
}

.footer{
	position: absolute;   
	bottom: 0px;  
	width: 100%; 
	height: 15%; 
	background-color: #202225;  
	color: #fff;  
	text-align: center; 
	text-decoration:none;
}

.footer-text{
	font-family: 'Poppins';
	color: #484C52;
	font-weight: bold;
	letter-spacing: 2px;
	text-shadow: 0.5px 0.5px 0.5px black;
}

.footer h2{
	margin-bottom: 0;
	padding-bottom: 0;
	letter-spacing: 3px;
	text-shadow: 0.5px 0.5px 0.5px black;

}

.footer-text p, br{
	margin-top: -2px;

}

.icons{
	margin-right: 40px;
	list-style: none;
	display: inline-block;
	
}

.icons #logo-whatsapp{
	color: #484C52;
	margin-right: 15px;
	width: 25px;
	height: 25px;
}
.icons #logo-instagram{
	color: #484C52;
	margin-right: 15px;
	width: 25px;
	height: 25px;
}